.screen-wrapper {
  background-image: url('../../../assets/home_wrapper.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
}
.screen-wrapper:before {
  content: "";
  /*background: rgba(255,0,0, 0.01);*/
  background: rgba(0, 0, 0, .1);
  position: absolute;
  width: 100%;
  height: 100%;
}

