<div class="container-fluid" style="margin-top: 140px;">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <div style="margin-bottom: 30px;">
          <!--<h1>Minho Choi developer</h1>-->
        </div>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-md-6">
        <img class="img-circle" src='../../../assets/self.png' style="margin-top: 10px; margin-bottom: 10px;">
      </div>
      <div class="col-md-6">
        <h5 style="font-family: 'Playfair Display', serif; font-style: italic; margin-bottom: 30px;">'All things are difficult before they are easy.'</h5>
        <div class="text-justify">
          <div class="icon-container">
            <i class="icon far fa-smile"></i><span>MINHO CHOI</span><br />
          </div>
          <div class="icon-container">
            <i class="icon fa fa-birthday-cake"></i><span>1993.12.03</span><br />
          </div>
          <div class="icon-container">
            <i class="icon fa fa-envelope-square"></i><span>exit19093@gmail.com</span><br />
          </div>
          <div class="icon-container">
            <i class="icon fab fa-github"></i><span>https://github.com/mminhou</span>
          </div>
        </div>
      </div>
    </div>
    <hr />

    <div class="row" style="margin-bottom: 30px;">
      <div class="col-md-12">
        <h1 style="margin-top: 30px; margin-bottom: 40px;">Interesting</h1>
      </div>
      <div class="col-md-4">
        <div class="card" style="background-image: url('../../../assets/ai.jpeg');">
          <p>artificial intelligence</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="background-image: url('../../../assets/cv.jpg');">
          <p>computer vision</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <p>big data</p>
        </div>
      </div>
    </div>
    <hr />

    <div class="row">
      <div class="col-md-12">
        experiences/abilities
      </div>
      <div class="col-md-6">
        Backend
      </div>
      <div class="col-md-6">
        Flask, Django, Djangorestframework, Mysql
      </div>
      <div class="col-md-6">
        Angularjs2/4, Bootstrap4, Material Design Lite
      </div>
      <div class="col-md-6">
        Frontend
      </div>
    </div>
    <hr />



  </div>
</div>
