<div class="container-fluid" style="margin-top: 140px;">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <div style="margin-bottom: 30px;">
          <!--<h1>Minho Choi developer</h1>-->
        </div>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-md-6">
        <img class="img-circle" src='../../../assets/self.png' style="margin-top: 10px; margin-bottom: 10px;">
      </div>
      <div class="col-md-6">
        <h5 style="font-family: 'Playfair Display', serif; font-style: italic;">All things are difficult before they are easy.</h5>
      </div>
    </div>
    <hr />

    <div class="row">
      <div class="col-md-12">
        Interesting
      </div>
      <div class="col-md-4">
        Computer Vision
      </div>
      <div class="col-md-4">
        Artificial Intelligence
      </div>
      <div class="col-md-4">
        Big Data
      </div>
    </div>
    <hr />

    <div class="row">
      <div class="col-md-12">
        experiences/abilities
      </div>
      <div class="col-md-6">
        Backend
      </div>
      <div class="col-md-6">
        Flask, Django, Djangorestframework, Mysql
      </div>
      <div class="col-md-6">
        Angularjs2/4, Bootstrap4, Material Design Lite
      </div>
      <div class="col-md-6">
        Frontend
      </div>
    </div>
    <hr />



  </div>
</div>
