<div class="container-fluid" style="margin-top: 140px;">
  <div class="container">

    <div class="row align-items-center">
      <div class="col-md-6">
        <img class="img-circle" src='../../../assets/self.png' style="margin-top: 10px; margin-bottom: 10px;">
      </div>
      <div class="col-md-6">
        <h5 style="font-family: 'Playfair Display', serif; font-style: italic; margin-bottom: 30px;">'All things are difficult before they are easy.'</h5>
        <div class="text-justify">
          <div class="icon-container">
            <i class="icon far fa-smile"></i><span>MINHO CHOI</span><br />
          </div>
          <div class="icon-container">
            <i class="icon fa fa-phone"></i><span>010-2895-1359</span><br />
          </div>
          <div class="icon-container">
            <i class="icon fa fa-birthday-cake"></i><span>1993.12.03</span><br />
          </div>
          <div class="icon-container">
            <i class="icon fa fa-envelope-square"></i><span>exit19093@gmail.com</span><br />
          </div>
          <div class="icon-container">
            <i class="icon fab fa-github"></i><a href="https://github.com/mminhou"><span>https://github.com/mminhou</span></a>
          </div>
        </div>
      </div>
    </div>
    <hr />

    <div class="row" style="padding: 0 30px;">
      <div class="col-md-6 text-left intro">
        <span style="font-variant: small-caps;">education / project</span>
        <hr />
        <p>Sangmyung University | computer science</p>
        <p style="color: darkolivegreen">[project]</p>
        <p>Myshop site</p>
        <p>Business card recognition ocr project</p>
        <p>RTravel site</p>

      </div>
      <div class="col-md-6 text-right intro">
        <span style="font-variant: small-caps;">career</span>
        <hr />
        <p>Willbesolution | 2018.01-2018.04</p>
        <p>Chatbot planning & project</p>
        <p>i-sysframework upgrading project</p>
        <p>PTA(path travel analysis) project</p>

      </div>
    </div>
    <hr />


    <div class="row" style="padding: 0 30px;">
      <div class="col-md-12">
        <span style="font-variant: small-caps;">ability</span>
      </div>
    </div>
    <hr />

    <div class="row align-items-center">
      <div class="col-md-2"><img src="../../../assets/python.png" style="width: 90%" /></div>
      <div class="col-md-2"><img src="../../../assets/javascript.jpg" style="width: 90%" /></div>
      <div class="col-md-2"><img src="../../../assets/typescript.png" style="width: 80%" /></div>
      <div class="col-md-2"><img src="../../../assets/R.png" style="width: 70%" /></div>
      <div class="col-md-2"><img src="../../../assets/html5.png" style="width: 70%" /></div>
      <div class="col-md-2"><img src="../../../assets/css3.png" style="width: 70%" /></div>

      <div class="col-md-3" style="margin: 30px 0;"><a href="http://flask.pocoo.org/"><img src="../../../assets/flask.png" style="width: 70%" /></a></div>
      <div class="col-md-3"><a href="https://www.djangoproject.com/"><img src="../../../assets/django.png" style="width: 70%" /></a></div>
      <div class="col-md-3"><a href="http://www.django-rest-framework.org/"><img src="../../../assets/djangorestframework.png" style="width: 70%" /></a></div>
      <div class="col-md-3"><a href="https://www.mysql.com/"><img src="../../../assets/mysql.png" style="width: 70%" /></a></div>

      <div class="col-md-4"><a href="https://angular.io/"><img src="../../../assets/angularjs.png" style="width: 60%;" /></a></div>
      <div class="col-md-4"><a href="https://getbootstrap.com/"><img src="../../../assets/bootstrap4.png" style="width: 80%" /></a></div>
      <div class="col-md-4"><a href="https://getmdl.io/"><img src="../../../assets/material_design_lite.png" style="width: 60%" /></a></div>
    </div>
    <hr />


    <div class="row" style="padding: 0 30px;">
      <div class="col-md-12">
        <span style="font-variant: small-caps;">interesting</span>
      </div>
    </div>
    <hr />

    <div class="row" style="margin-bottom: 30px;">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="card" style="background-image: url('../../../assets/ai.jpeg');">
          <p>artificial intelligence</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="background-image: url('../../../assets/cv.jpg');">
          <p>computer vision</p>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <hr />



  </div>
</div>
