<!--<div style="margin-top: 150px;"></div>-->

<!--<div [hidden]="writePosts">-->
<!--<div class="container-fluid" id="body-container-fluid">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-lg-3">-->
<!--<button class="btn btn-warning float-right" (click)="writePostsMode()">-->
<!--<i class="fa fa-pencil-alt float-left" style="margin-right: 10px;"></i><span>write</span>-->
<!--</button>-->
<!--</div>-->

<!--<div class="col-lg-9">-->
<!--<br />-->
<!--<div class="list-group">-->
<!--<div *ngFor="let post of this.activeCategoryItems | paginate: { itemsPerPage: 8, currentPage: p } | sortgrid: '-id';">-->
<!--<div [hidden]="post.category != active_category">-->
<!--<a routerLink="/board/{{post.id}}" class="list-group-item list-group-item-action flex-column align-items-start">-->
<!--<div class="d-flex w-100 justify-content-between">-->
<!--<h5 class="mb-1" style="padding-bottom: 5px;">{{post.title}}</h5>-->
<!--<small>{{post.created | slice:0:10}}</small>-->
<!--</div>-->
<!--&lt;!&ndash;<p class="mb-1 pull-left">{{post.content}}</p>&ndash;&gt;-->
<!--&lt;!&ndash;<small class="float-right">/ {{post.category}}</small>&ndash;&gt;-->
<!--<footer class="blockquote-footer">{{ post.user }}</footer>-->
<!--</a>-->
<!--</div>-->
<!--</div>-->

<!--<pagination-controls (pageChange)="p = $event"></pagination-controls>-->

<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<br />
<br />
<br />
<br />
<br />
<br />

<div class="container">
  <div class="row">
    <div class="col-md-12">

      <form role="form" id="contact-form" class="contact-form" (ngSubmit)="createPosts()">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <input type="text" class="form-control" name="title" autocomplete="off" id="title"
                     placeholder="Title" [(ngModel)]="posts.title">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <select class="form-control" #t (change)="callType(t.value)" id="category" style="height: 49px;">
                <option selected>Category...</option>
                <option *ngFor="let category of this._categoryArray" value={{category.title}} >{{category.title}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" class="form-control" name="nickname" autocomplete="off" id="nickname" [disabled]="true"
                     placeholder="{{currentUser.user.nickname}}">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <ckeditor
                [(ngModel)]="this.posts.content"
                name="content"
              >

              </ckeditor>

            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="row float-right align-items-center" style="margin-right: 1%;">
              <small style="margin-right: 5px;">{{this.posts.file_name}}</small>
              <div class="btn btn-default image-preview-input"> <span class="far fa-folder-open"></span> <span class="image-preview-input-title">Browse</span>
                <input type="file=field" name="file-field" (change)="handleInputChange($event)" type="file"accept="*/*" name="input-file-preview"/>
                <!-- rename it -->
              </div>
            </div>
          </div>
        </div>

        <br/><br/><br/>


        <div class="row">
          <div class="col-md-12">
            <button class="btn main-btn" (click)="back()" style="background: indianred; border: indianred">Back</button>
            <button type="submit" class="btn main-btn">Upload</button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
